* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.container {
    width: 920px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #707070;
    padding: 69px 0 120px 0;
    color: #FFFFFF;
}

.header h2 {
    font-size: 20px;
    font-weight: 200;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.header p {
    font-size: 14px;
}

.header nav {
    width: 100%;
    max-width: 770px;
}

.header nav .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    margin-top: 20px;
}


.header nav .nav-list li .nav-btn {
    padding: 12px 20px;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 160px;
    font-size: 14px;
    color: #707070;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
    color: #888888;
}

.content .article {
    width: 520px;
}

.content .article h2 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.content .article p {
    font-size: 12px;
    line-height: 18px;
}

.content .form  {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.content .form .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content .form label {
    margin-bottom: 7px;
    font-size: 12px;
}

.content .form input {
    border: 1px solid #707070;
    height: 30px;
    color: #707070;
    padding-left: 10px;
}

.input-error {
    border: 1px solid red;
}

.span-error {
    color: red;
    font-size: 12px;
}

.hidden {
    display: none;
}



.content .form .radio {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 23px;
}

.content .form .radio div {
    display: flex;
    align-items: center;
}

.content .form .radio div input {
    margin-bottom: 0;
    margin-right: 5px;
}

.content .form .radio div label {
    margin-bottom: 0;
    font-size: 12px;
}

.btn-enviar {
    padding: 11px 148px;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #888888;
    transition: all 300ms ease;
    font-size: 12px;
}

.btn-enviar:hover {
    cursor: pointer;
    background-color: #888888;
    color: #FFFFFF;
}

.content .validado {
    text-align: center;
    display: flex;
    align-items: center;
    color: green;
}


/**********
    MAIN
***********/

.main {
    margin-top: 79px;
}


.main h2 {
    font-size: 18px;
    color: #888888;
    text-align: center;
    margin-bottom: 40px;
}

.main .products {
    max-width: 920px;
    display: flex;
    flex-direction: column;
}

.main .products .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .products .product {
    width: 200px;
    height: 350px;
}

.main .products .product div img {
    display: block;
    margin: auto;
    border: 1px solid #707070;
    width: 200px;
    height: 150px;
}

.main .products .product .nome-produto {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 14px;
}

.main .products .product .descricao-produto {
    font-size: 12px;
}

.main .products .product .preco-antigo {
    font-size: 12px;
    margin-bottom: 6px;
}

.main .products .product .preco-novo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.main .products .product .promocao {
    font-size: 12px;
    margin-bottom: 10px;
}

.main .products .product .btn-comprar {
    background-color: #FFFFFF;
    color: #888888;
    width: 100%;
    border: 1px solid #707070;
    padding: 6px 0;
    border-radius: 4px;
    margin-bottom: 40px;
}

.main .products .product .btn-comprar:hover {
    color: #FFFFFF;
    background-color: #888888;
    cursor: pointer;
}

.main .products .btn-more {
    font-size: 16px;
    color: #888888;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    width: 260px;
    padding: 11px 0;
    margin:  12px auto;
}

.main .products .btn-more:hover {
    color: #FFFFFF;
    background-color: #888888;
    cursor: pointer;
}

/*********
COMPARTILHAR
***********/

.compartilhar {
    margin-top: 128px;
    text-align: center;
    color: #888888;
}

.compartilhar h2 {
    font-size: 18px;
    margin-bottom: 44px;
}

.compartilhar p {
    font-size: 14px;
    margin-bottom: 39px;
}

.compartilhar #form-compartilhar {
    width: 720px;
    margin: auto;
}

.compartilhar #form-compartilhar .compartilhar-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.compartilhar #form-compartilhar .compartilhar-wrapper .info label {
    display: block;
    text-align: left;
    font-size: 12px;
}

.compartilhar #form-compartilhar .compartilhar-wrapper .info input {
    width: 340px;
    height: 30px;
    margin-top: 7px;
    padding-left: 5px;
    border: 1px solid #707070;
    color: #707070;
}

