* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.container {
    width: 920px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #707070;
    padding: 69px 0 120px 0;
    color: #FFFFFF;
}

.header h2 {
    font-size: 20px;
    font-weight: 200;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.header p {
    font-size: 14px;
}

.header nav {
    width: 100%;
    max-width: 770px;
}

.header nav .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    margin-top: 20px;
}

.header nav .nav-list li {
  
}

.header nav .nav-list li .nav-btn {
    padding: 12px 20px;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 160px;
    font-size: 14px;
    color: #707070;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
    color: #888888;
}

.content .article {
    width: 520px;
}

.content .article h2 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.content .article p {
    font-size: 12px;
    line-height: 18px;
}

.content #form  {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.content #form .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content #form label {
    margin-bottom: 7px;
    font-size: 12px;
}

.content #form input {
    border: 1px solid #707070;
    height: 30px;
    color: #707070;
    padding-left: 10px;
}

.content #form input.error {
    border: 1px solid red;
}

.content #form .span-error {
    color: red;
    font-size: 12px;
}

.hidden {
    display: none;
}



.content #form .radio {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 23px;
}

.content #form .radio div {
    display: flex;
    align-items: center;
}

.content #form .radio div input {
    margin-bottom: 0;
    margin-right: 5px;
}

.content #form .radio div label {
    margin-bottom: 0;
    font-size: 12px;
}

.content #form .btn-enviar {
    padding: 11px 148px;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #888888;
    transition: all 300ms ease;
    font-size: 12px;
}

.content #form .btn-enviar:hover {
    cursor: pointer;
    background-color: #888888;
    color: #FFFFFF;
}